<header>     {{webSiteName}}

    <p><a href="/Home">Home</a></p>
    <p><a href="Contact">Contact</a> </p>
    <p><a href="/About">About</a> </p>
    <p><a href="/Photos">Pics</a> </p>
    <p><a href="/Videos">Video</a> </p>
    <p><a href="/RulesBook">Rules Book</a> </p>

    <p><a href="/Search"> Search</a></p>
    <p><a href="/Location">Location</a></p>
    <p><a href="/Membership">Membership</a></p>
    <p><a href="/Login">Login</a> </p>

</header>