<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
   {{> header}}
               <p>Contact Details {{ContactDetails}}</p>
                <p1>soon we will update our other contact data</p1>
{{> footer}}
</body>
</html>