<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {{> header}}
        <p>{{OwnerName}}</p>
        <p>Registered in year {{getCurrentYear}}</p>
        <p>{{welcomeMessage}}</p>
    {{> footer}}
</body>
</html>