<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{Locations}}
            <p>your current location is not the listed one</p>
</body>
</html>
