<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
 {{login}}
        <form bg-color="red">
            Enter Email<input type="text" name="name"> <br>
            Enter Password<input type="password" name="password">
        </form>
</body>
</html>
