<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
        {{! > header}}
        <p>Our site is Currently being updated</p>
        <p1>Sorry for the delay</p1>
        {{!> footer}}
</body>
</html>