<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{{> header}}
            <p>{{RulesBook}}</p>
            <table>
                <ul>

                    Rule First: asa
                    Rule Second: t4rf
                </ul>

            </table>
{{> footer}}
</body>
</html>