<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{searchPage}}
        Search Name<input type="text" name="Name"> <br>
        Search PNo<input type="number" name="number">
</body>
</html>
